body{
    background:linear-gradient(to left, #ff6b81 ,#2575fc);
}
.slider-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* تأثير 3D */
.slider-3d-container {
  transform: rotateY(60deg);
  transform-style: preserve-3d;
  perspective: 1200px;
  padding: 10px;
  border-radius: 12px;
  transform: rotate(-40deg);
}

.swiper-slide-active{
    background:linear-gradient( to left, #34495e ,#95a5a6) !important; 
      height: 240px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}
/* شكل السلايدر */
.swiper-box {
  width: 500px;
}

/* بطاقة السلايد */
.slide-box {
  height: 166px;
  background:linear-gradient( to left, #00a8ff ,#1abc9c);
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.slide-box:hover {
  transform: scale(1.05);
}

/* شكل الأزرار */
.btns-container {
  margin-top: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-btn {
  width: 50px;
  padding: 10px 0;
  border:  1px solid rgb(7, 201, 245);
  color: rgb(7, 201, 245);
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  transition: background 0.3s ease;
}
